    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 3px 10px 0 rgb(0 0 0 / 20%);">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Surf.&trade;</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" style="float: right;">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin/user/fucknews">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/user/teer/counter/edit/teer/1">Teer Counter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/user/ass_teer">Teer News</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>