
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Merinda - HTML Bootstrap Template Like Medium Blog Platform</title>
        <!--favincon-->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

        <!-- Bootstrap, Font Awesome, Aminate, Owl Carausel, Normalize CSS -->
        <link href="/css/css-bootstrap.css" rel="stylesheet">
        <link href="/css/css-owl.carousel.min.css" rel="stylesheet">
        <link href="/css/css-owl.theme.default.min.css" rel="stylesheet">

        <!-- Site CSS -->
        <link href="/css/css-style.css" rel="stylesheet">
        <link href="/css/css-widgets.css" rel="stylesheet">
        <link href="/css/css-color-default.css" rel="stylesheet">
        <link href="/css/css-responsive.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">

        

        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700&amp;display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=B612+Mono&amp;display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;display=swap" rel="stylesheet"> 

        <!-- Icons fonts-->
        <link href="/css/css-fontello.css" rel="stylesheet">

        <!--Poprup-->
        <link href="/css/css-popup.css" rel="stylesheet">
        <script src="/js/js-jquery.min.js"></script>       
        <script src="/js/js-jquery.bpopup.min.js"></script>
        <script>
        $( document ).ready(function() {
            $('#popup_this').bPopup();
        });
        </script>

        <link href='https://fonts.googleapis.com/css?family=Droid Serif' rel='stylesheet'>
        <%- include('alltags.ejs'); %> 

    </head>
    <body class="single page-404">
        
        <%- include('header.ejs'); %> 

            <main id="content">
                <div class="container">
                    <article class="entry-wraper mb-5">
                        <h1 class="text-center mb-3 mt-5">404</h1>
                        

                        <p class="text-center">The link you clicked may be broken or the page may have been removed.<br>
                            visit the <a href="/">Homepage</a> or <a href="#">Contact us</a> about the problem
                        </p>
                    </article> <!--entry-content-->                   
                </div> <!--container-->
            </main>
            <%- include('footer.ejs'); %> 

        </div> <!--#wrapper-->

        <a href="#" class="back-to-top heading"><i class="icon-left-open-big"></i><span  class="d-lg-inline d-md-none">Top</span></a>
        
        <script src="/js/js-bootstrap.js"></script>
        <script src="/js/js-jquery-scrolltofixed-min.js"></script>
        <script src="/js/js-theia-sticky-sidebar.js"></script>
        <script src="/js/js-scripts.js"></script>
    </body>
</html>