<html>
    <title>
        Admin Panel
    </title>

    <body>
        <form action="/admin/user/follower" method="post">
            <label>Email / Username</label>
            <input type="text" name="mail_user" id="mail_user">
            <input type="submit" id="submit" name="submitAdmin">
        </form>
    </body>
</html>